{% assign pages_grouped = site.pages | group_by:"area" | sort:"sidebar_sort_order" | reverse %} 

{% for group in pages_grouped %}
{% if group.name != "" %}
    <div class="page-links-group">
        {% if group.name == "personal" %}
        <a
            class="{% if group.url == '/' %} active {% endif %} text section-link"
            href="{% if site.lang == 'en' %} / {% else %} /es {% endif %}"
        >
            📝 blog
        </a>
        {% endif %}
    
        {% for item in group.items %} 
        {% if item.title != null %} 
        {% if item.sidebar_link %}
        <a class="{% if item.url == item.url %} active {% endif %} text section-link" href="{% tl item.namespace %}">
            <span class="emoji">{{ item.emoji }}</span>
            {% t item.title %}
        </a>
        {% endif %} 
        {% endif %} 
        {% endfor %}
    </div>
{% endif %}
{% endfor %}
