{% assign pages_grouped = site.pages | sort: 'group_sort_order' | group_by:"area" %} 

{% for group in pages_grouped %}
{% if group.name != "" %}
    <div class="page-links-group flex">
        {% if group.name == "personal" %}
        <a
            class="{% if page.url == '/' %} active {% endif %} text section-link"
            href="{% if site.lang == 'en' %} / {% else %} /es {% endif %}"
        >
            <span class="emoji">📔</span>blog
        </a>
        {% endif %}
    
        {% assign sorted_items = group.items | sort: 'sidebar_sort_order' %}
        {% for item in sorted_items %} 
        {% if item.title != null %} 
        {% if item.sidebar_link %}
        <a class="{% if page.url == item.url %} active {% endif %} text section-link" href="{% tl item.namespace %}">
            <span class="emoji">{{ item.emoji }}</span>
            {% t item.title %}
        </a>
        {% endif %} 
        {% endif %} 
        {% endfor %}
    </div>
{% endif %}
{% endfor %}
