<div>
    {% assign project_file = "projects" | append: site.lang %}
    {% for project in site.data[project_file] %}
    <div class="flex">
        <div class="project-year">
            {{project.year}}
            {% if project.finished %}
                {% if project.finished != project.year %}
                — {{project.finished}}
                {% endif %}
            {% else %}
                —
            {% endif %}
        </div>

        <div>
            {% if project.url %}
                <a href="{{ project.url }}">
                    <h2 class="project-title">
                        {{ project.title }}
                    </h2>
                </a>
                {% if project.repo_url %}
                    <a class="project-repo-url" href="{{ project.repo_url }}">{% if site.lang == 'en' %}Repository{% else %}Repositorio{% endif %}</a>
                {% endif %}
            {% else %}
                <a href="{{ project.repo_url }}">
                    <h2 class="project-title">
                        {{ project.title }}
                    </h2>
                </a>
            {% endif %}
            <p>{{ project.description }}</p>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
  