<nav id="sidebar-icon-links">
    <a
        id="github-link"
        class="icon"
        title="GitHub"
        aria-label="GitHub"
        href="{{ site.github_url }}"
    >
        {% include svg/github.svg %}
    </a>
    <a
        id="linkedin-link"
        class="icon"
        title="Linkedin"
        aria-label="Linkedin"
        href="{{ site.linkedin_url }}"
    >
        {% include svg/linkedin.svg %}
    </a>
    <a
        id="email-link"
        class="icon"
        title="E-Mail"
        aria-label="E-mail"
        href="mailto:lezojeda@gmail.com"
    >
        {% include svg/email.svg %}
    </a>
    <a
        id="instagram-link"
        class="icon"
        title="Instagram"
        aria-label="Instagram"
        href="{{ site.instagram_url }}"
    >
        {% include svg/instagram.svg %}
    </a>
</nav>
