@import "typography";
@import "layout";
@import "sidebar";
@import "index";

html {
  background-color: $bgColor;
  color: $fgColor;
}

main {
  width: 100%;
}

a {
  color: $anchorElementColor;

  &:hover,
  &:focus {
    background-color: rgba($fgColor, 0.2);
    border-radius: 4px;
    text-decoration: none;
  }

  strong {
    color: inherit;
  }
}

a img,
.icon img {
  height: 1em;
}

ul {
  margin: 0;
  margin-top: 4px;
  width: 100%;
}

.icon {
  vertical-align: middle;
}