@import "typography";
@import "layout";
@import "sidebar";
@import "index";
@import "projects";
@import "reading";
@import "hamburger-menu";

:root {
  color-scheme: light dark;
  background-color: $bgColor;
  color: $fgColor;

  @media (prefers-color-scheme: dark) {
    color: $darkModeFgColor;
    background-color: $fgColor;
  }
}


main {
  width: 100%;
}

a {
  color: $primaryColor;

  @media (prefers-color-scheme: dark) {
    color: $darkModePrimaryColor;
  }

  &:hover,
  &:focus {
    border-radius: 4px;
    text-decoration: none;
    transition: opacity 0.2s ease;
    opacity: 0.8;
  }

  strong {
    color: inherit;
  }
}

ul {
  margin: 0;
  margin-top: 4px;
  width: 100%;
}

li {
  font-size: 18px;
  margin: 16px 0;

  @media (prefers-color-scheme: dark) {
    letter-spacing: 0.5px;
    line-height: 1.5;
  }
}

.icon,
svg {
  height: 1.2em;
  vertical-align: middle;
}

@media (max-width: $mobileAndTabletBreakpoint) {
  main {
    width: auto;
    padding: 0 32px;
  }

  ul {
    margin-left: -24px;
    width: auto;
    
    h3 {
      margin-bottom: 16px;
    }
  }

  li {
    line-height: 1.5;

    @media (prefers-color-scheme: dark) {
      line-height: 1.8;
    }
  }
}
