@import "typography";
@import "layout";
@import "sidebar";
@import "blog";
@import "projects";
@import "reading";
@import "hamburger-menu";
@import "pictures";
@import "resume";
@import "utils";

:root {
    color-scheme: light dark;
    background-color: $bgColor;
    color: $fgColor;

    @media (prefers-color-scheme: dark) {
        color: $darkModeFgColor;
        background-color: $fgColor;
    }
}

body {
    @media screen and (max-width: 960px) {
        padding: 40px 20px;
    }

    margin: 0;
    padding: 80px 0;
}

main {
    margin: 0 auto;
    max-width: $maxMainWidth;
}

footer {
    display: none;

    @media (max-width: $smallScreenBreakpoint) {
        display: block;
        height: 32px;
    }
}

a {
    color: $primaryColor;

    &:hover,
    &:focus {
        border-radius: 4px;
        text-decoration: none;
        transition: opacity 0.2s ease;
        opacity: 0.8;
    }

    &:focus-visible {
        outline-color: $primaryColor;
        outline-style: solid;
        outline-width: medium;
    }

    strong {
        color: inherit;
    }
}

ul {
    margin: 0;
}

li {
    &:not(:first-child) {
        margin-top: 16px;
    }

    @media (prefers-color-scheme: dark) {
        letter-spacing: 0.5px;
        line-height: 1.5;
    }
}

hr {
    opacity: 0.5;
}

::selection {
    background-color: $primaryColor;
    color: $bgColor;
}

/* ----------
Dark mode
-----------*/

@media (prefers-color-scheme: dark) {
    a {
        color: $darkModePrimaryColor;

        &:focus-visible {
            outline-color: $darkModePrimaryColor;
        }
    }

    li {
        letter-spacing: 0.5px;
        line-height: 1.5;
    }

    ::selection {
        background-color: $darkModePrimaryColor;
        color: $fgColor;
    }

    @media (max-width: $tabletBreakpoint) {
        li {
            line-height: 1.8;
        }
    }
}
