.post-item-container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobileBreakpoint) {
        align-items: start;
        flex-direction: column;
        font-size: 12px;
        min-width: 80px;
    }
}

.post-title {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    @media (min-width: $mobileBreakpoint) {
        margin-right: 10px;
    }

    @media (max-width: $mobileBreakpoint) {
        white-space: normal;
    }
}

.date {
    text-align: right;
    opacity: 0.8;
    min-width: 120px;

    @media (max-width: $mobileBreakpoint) {
        text-align: left;
        font-size: 12px;
        min-width: 80px;
    }
}
