.posts-list {
    margin-top: 56px;
    padding-top: 12px;
}

.microposts-list {
    list-style: none;
}

.posts-list-padding {
    padding-left: 0;
}

.post {
    &:not(:last-of-type) {
        margin-bottom: 16px;
    }
}

.post-title {
    margin: 0;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.date {
    text-align: right;
    opacity: 0.8;
    min-width: 120px;
}

/* ----------
    Mobile
-----------*/
@media (max-width: $tabletBreakpoint) {
    .posts-list-padding {
        padding-left: 20px;
    }

    .posts-list {
        margin-top: 0;
        padding-top: 0;
        margin-left: -12px;
    }

    .post-item-container {
        align-items: start;
        flex-direction: column;
        font-size: 12px;
        min-width: 80px;
    }

    .post-title {
        margin-right: 10px;

        white-space: normal;
    }

    .date {
        text-align: left;
        font-size: 12px;
        min-width: 80px;
    }
}
