#hamburger-menu {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: none;
}

@media (max-width: $smallScreenBreakpoint) {
    #hamburger-menu {
        display: block;
        height: 50px;
        position: fixed;
        right: 15px;
        bottom: 15px;
        width: 50px;

        > svg {
            width: 100%;
            height: 100%;
        }
    }
}