body {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  max-width: $maxScreenWidth;
  padding: 64px 0;
}

.center-row {
  display: flex;
  align-items: center;
}

/* ----------
  Sidebar
-----------*/

#sidebar {
  flex: 0 0 auto;
  margin-right: 64px;
}

#sidebar nav {
  display: flex;
}

#sidebar-nav-links {
  flex-flow: column nowrap;
  margin-bottom: $navbarSectionSpacing;

  > :not(:last-child),
  > :not(:first-child) {
    margin-bottom: 6px;
  }
}

#sidebar-icon-links {
  flex-flow: row wrap;
  margin-bottom: $navbarSectionSpacing;
}

/* ----------
  Resume
-----------*/
h2:not(:first-of-type) {
  margin-top: 48px;
}

/* ----------
  Mobile/tablet
-----------*/

@media (max-width: 960px) {
  body {
    flex-direction: column;
  }
}
