.center-row {
    display: flex;
    align-items: center;

    > svg {
        margin-right: 6px;
        width: 20px;
    }
}

/* ----------
  Sidebar
-----------*/

.sidebar {
    flex: 0 0 auto;
    margin-right: 64px;
}

.sidebar nav {
    display: flex;
}

.sidebar nav > .icon {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
        margin-right: 6px;
    }
}

#sidebar-nav-links {
    flex-flow: column nowrap;
    margin-bottom: $navbarSectionSpacing;
}

#sidebar-icon-links {
    flex-flow: row wrap;
    margin-bottom: $navbarSectionSpacing;
}

/* ----------
  Mobile/tablet
-----------*/

@media (max-width: $smallScreenBreakpoint) {
    .sidebar {
        margin-right: 24px;
    }
}

@media (max-width: $tabletBreakpoint) {
    body {
        flex-direction: column;
    }

    main {
        padding: 0 32px;
    }

    .sidebar {
        margin-right: 0;
        text-align: center;
    }

    #sidebar-nav-links {
        margin-bottom: $mobileNavbarSectionSpacing;

        > :not(:last-child),
        > :not(:first-child) {
            margin-bottom: 16px;
        }
    }

    #sidebar-icon-links {
        display: flex;
        justify-content: center;
        margin-bottom: $mobileNavbarSectionSpacing;
    }

    .sidebar nav > .icon {
        &:not(:last-of-type) {
            margin-right: 16px;
        }
    }

    .skills-list li {
        display: list-item;
        margin-left: 8px;

        &::before {
            content: "";
        }
    }

    .skill {
        margin-right: 0px;
    }
}

@media (max-width: $tabletBreakpoint) {
    main {
        padding: 0 16px;
    }
}