.flex-center {
    display: flex;
    align-items: center;

    > svg {
        margin-right: 6px;
        width: 20px;
    }
}

/* ----------
  Sidebar
-----------*/

.sidebar nav {
    display: flex;
}

#sidebar-nav-links {
    margin-bottom: 24px;
    flex-flow: column nowrap;
}

/* ----------
  Mobile/tablet
-----------*/

@media (max-width: $smallScreenBreakpoint) {
    .sidebar {
        margin-right: 24px;
    }
}

@media (max-width: $smallScreenBreakpoint) {
    .sidebar {
        margin-right: 0;
        text-align: center;
    }

    #sidebar-nav-links {
        margin-bottom: $mobileNavbarSectionSpacing;
    }

    .skills-list li {
        display: list-item;
        margin-left: 8px;

        &::before {
            content: "";
        }
    }

    .skill {
        margin-right: 0px;
    }
}