.pictures-container {
    text-align: center;
}

.picture-container {
    text-align: center;
    width: 100%;

    &:not(:last-of-type) {
        margin-bottom: 24px;
    }

    > p {
        line-height: 1.3;
        text-align: center;
    }
}

.picture {
    border-radius: 4px;
    max-width: 100%;
    min-height: 200px; // To enforce lazy loading of images

    @media (max-width: $tabletBreakpoint) {
        min-height: 100px;
    }
}

.picture-description {
    margin-bottom: 0;
}
