.image-gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 230px);
}

.box {
  flex-basis: 25%;
  margin: 2px;
  width: 100%;

  > a {
    text-decoration: none;
  }
}

.img {
  width: 230px;
  height: 230px;
  object-fit: cover;
}
