.image-gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, calc(50% - 24px));
}

.box {
    flex-basis: 25%;
    margin: 2px;
    width: 100%;

    > a {
        text-decoration: none;
    }
}

.img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: $tabletBreakpoint) {
    .image-gallery {
        gap: 0;
        display: block;
    }
}
