.year-section {
    &:not(:first-child) {
        margin-top: 24px;
    }
}

.year {
    margin-bottom: 16px;
}

.book-title {
    font-size: 18px;
}

.book-list {
    list-style: none;
    padding-left: 0;
}

.book-list-item {
    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.book-cover {
    margin-right: 18px;
    width: 100px;
}

.book-info {
    flex-direction: column;
    justify-content: space-between;
}

.book-author {
    font-weight: 500;
    opacity: 0.8;
}

.book-status {
    font-size: 16px;
}


.currently-reading {
    font-weight: bold;
    color: $primaryColor;
    
    @media (prefers-color-scheme: dark) {
        color: $darkModePrimaryColor;
    }
}

.highlight {
    font-size: 14px;
    font-style: italic;
    margin-top: 12px;
    text-align: center;
}

/* ----------
Mobile/tablet
-----------*/
@media (max-width: $tabletBreakpoint) {
    .year {
        text-align: center;
    }

    .book-title {
        font-size: 16px;
    }
    
    .book-list {
        margin-left: 0;
    }

    .book-status {
        font-size: 14px;
    }

    .book-cover {
        margin-right: 12px;
        width: 75px;
    }

    .highlight {
        display: none;
    }
}
