#resume > h2:not(:first-of-type) {
    margin-top: 48px;
}

.second-skills-list {
    margin-top: 24px;
}

.skills-list li {
    display: inline;
    margin-bottom: 0;

    &::before {
        content: "• ";
    }
}

.skill {
    margin-right: 8px;
}

/* ----------
    Mobile
-----------*/
@media (max-width: $tabletBreakpoint) {
    .skills-list li {
        display: list-item;

        &::before {
            content: "";
        }
    }
}