/* -----------------------------------------------------------
  Sidebar links + nav
----------------------------------------------------------- */

#sidebar a {
  color: $sidebarLinkColor;
  text-decoration: none;

  &:hover {
    background-color: transparent;
    opacity: 1;
  }

  svg {
    fill: $fgColor;

    &:hover {
      opacity: 0.75;
    }
  }
}

#sidebar a.text {
  &:hover {
    &::after {
      content: "·";
      font-weight: bold;
      margin-left: 2px;
    }
  }
}

#sidebar a.active {
  font-weight: bold;
}

#sidebar nav > .icon {
  display: inline-block;
  font-size: 1.5rem;

  &:not(:last-of-type) {
    margin-right: 6px;
  }
}

/* hide emoji if not supported */
/* Thismin resolution is equivalent to a minimum resolution of 0.0254 dots per inch (dpi), 
   which is a very low resolution that is not typically used for modern devices. */
@media not all and (min-resolution:.001dpcm) {
  /* hide emoji for browsers that don't support them */
  .emoji {
    display: none;
  }
}