#sidebar-desktop {
    right: 50%;
    margin-right: 340px;
    position: absolute;
    width: 185px
}

#sidebar-mobile {
    display: none;
}

.sidebar a {
    color: $sidebarLinkColor;
    text-decoration: none;

    &:hover {
        color: $primaryColor;
    }

    svg {
        fill: $fgColor;

        &:hover {
            fill: $primaryColor;
        }
    }
}

.sidebar a.active {
    font-weight: bold;
}

.sidebar nav > .icon > svg {
    height: 24px;
}

/* hide emoji if not supported */
/* Thismin resolution is equivalent to a minimum resolution of 0.0254 dots per inch (dpi), 
   which is a very low resolution that is not typically used for modern devices. */
@media not all and (min-resolution: 0.001dpcm) {
    /* hide emoji for browsers that don't support them */
    .emoji {
        display: none;
    }
}

.page-links-group {
    flex-direction: column;

    &:not(:last-of-type) {
        margin-bottom: 16px;
    }
}

.section-link:not(:last-of-type) {
    margin-bottom: 4px;
}

/* ----------
  Mobile/tablet
-----------*/

@media (max-width: $smallScreenBreakpoint) {
    #sidebar-desktop {
        display: none;
    }

    #sidebar-mobile {
        background-color: $bgColor;
        border-bottom: 1px solid $fgColor;
        padding: 32px 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;

        @media (prefers-color-scheme: dark) {
            background-color: $fgColor;
            border-bottom: 1px solid $darkModeFgColor;
        }
    }

    #sidebar-mobile.show {
        display: block;
    }

    .sidebar a {
        font-size: 20px;
    }

    .sidebar nav > .icon > svg {
        height: 28px;
    }
}

/* ----------
Dark mode
-----------*/

@media (prefers-color-scheme: dark) {
    .sidebar a {
        color: $bgColor;
    
        svg {
            fill: $darkModeFgColor;

            &:hover {
                fill: $darkModePrimaryColor;
            }
        }

        &:hover {
            color: $darkModePrimaryColor;
        }
    }
}