/* -----------------------------------------------------------
  Sidebar links + nav
----------------------------------------------------------- */

#sidebar a {
  color: $sidebarLinkColor;

  svg {
    fill: $fgColor;

    &:hover {
      opacity: 0.75;
    }
  }
}

#sidebar a.active {
  font-weight: bold;
}

#sidebar nav > .icon {
  display: inline-block;
  font-size: 1.5rem;
}
