@import "variables";

html {
    font-family: $contentFontFamily;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
    font-weight: 700;
    margin: 0;
}

h1, .site-title {
    font-family: $headingFontFamily;
    letter-spacing: 1px;
    line-height: 1.4;
    margin-bottom: 24px;
}

h2 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
    margin-top: 24px;
}

h3 {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 16px;
}

p {
    line-height: 1.5;
    margin-top: 0;

    @media (prefers-color-scheme: dark) {
        letter-spacing: 0.025rem;
        line-height: 1.8;
    }
}

.site-title,
.page-title {
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.4;
    margin-top: 0;
}

.site-title {
    font-family: $headingFontFamily;
    font-size: 2rem;
}

/* ----------
  Mobile/tablet
-----------*/
@media (max-width: $tabletBreakpoint) {
    p {
        line-height: 1.8;

        @media (prefers-color-scheme: dark) {
            line-height: 2;
        }
    }

    h2 {
        font-size: 18px;
    }
}
