// Typography
$fontFamily: "Inter", sans-serif;

// Spacing
$sectionSpacing: 2rem;
$headingSpacing: 0.5rem;
$largeHeadingSpacing: 1rem;
$navbarSectionSpacing: 1rem;

// Dimensions
$maxScreenWidth: 960px;

// Colors
$fgColor: #222222 !default;
$bgColor: #F2F2F2 !default;
$anchorElementColor: #3B4E3B;

$sidebarLinkColor: $fgColor !default;
