// Typography
$fontFamily: "Inter", sans-serif;

// Spacing
$sectionSpacing: 2rem !default;
$headingSpacing: 0.5rem !default;

// Dimensions
$maxScreenWidth: 960px;

// Colors
$fgColor: #222222 !default;
$bgColor: #F2F2F2 !default;

$sidebarLinkColor: $fgColor !default;
