// Typography
$fontFamily: Helvetica, sans-serif;

// Spacing
$sectionSpacing: 2rem;
$headingSpacing: 0.5rem;
$largeHeadingSpacing: 1rem;
$navbarSectionSpacing: 1rem;
$mobileNavbarSectionSpacing: 2rem;

// Dimensions
$maxMainWidth: 640px;
$smallScreenBreakpoint: 1045px;
$tabletBreakpoint: 960px;
$mobileBreakpoint: 481px;

// Colors
$fgColor: #222222 !default;
$bgColor: #F2F2F2 !default;
$primaryColor: #405440;

$darkModeFgColor: #E3E3E3;
$darkModePrimaryColor: #93AE93;

$sidebarLinkColor: $fgColor !default;
