:root {
    --dark-bg-color: #303030;

    /* grey shades */
    --black: #1a1411;
    --grey900: #2f2622;
    --grey800: #625955;
    --grey700: #80756e;
    --grey600: #988d85;
    --grey500: #a19887;
    --grey400: #ccc5b8;
    --grey300: #e7e2daf0;
    --grey200: #f1eeea;
    --grey100: #faf9f8;

    /* main colors */
    --primary: hsl(120, 18%, 31%);
    --primary-light: hsl(120, 18%, 55%);
    --primary-dark: hsl(120, 18%, 15%);

    --dark-mode-primary: hsl(120, 14%, 63%);
    --dark-mode-primary-light: hsl(120, 14%, 75%);
    --dark-mode-primary-dark: hsl(120, 14%, 45%);

    /* typography */
    --text: var(--grey900);
    --text-heading: var(--black);
    --link: var(--primary);
    --link-hover: var(--primary-light);
    --blockquote-border: var(--primary);

    /* body */
    --body: var(--grey300);

    /* buttons */
    --btn-tertiary: var(--primary);

    --border: var(--grey400);

    /* pre and code dark mode */
    --pre-bg: var(--grey200);
    --pre-color: var(--grey900);
    --pre-border: var(--grey400);

    --code-bg: var(--grey800);
    --code-color: var(--grey200);
    --code-border: var(--grey700);
}

/** Dark mode **/
@supports (--css: variables) {
    .dark {
        --body: var(--dark-bg-color);

        --text: var(--grey300);
        --text-heading: var(--grey200);
        --link: var(--dark-mode-primary);
        --link-hover: var(--dark-mode-primary-light);
        --blockquote-border: var(--dark-mode-primary);

        --border: var(--grey700);
        --btn-tertiary: var(--dark-mode-primary);

        /* pre and code */
        --pre-bg: var(--grey900);
        --pre-color: var(--grey300);
        --pre-border: var(--grey700);
    }
}
