@import "./variables.scss";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
	margin: 0 auto;
	padding: var(--space-md) 0;
	width: $max-content-width;
}

.pictures-gallery {
	columns: 4;
	padding: var(--space-lg);

	@media (max-width: $laptop) {
		columns: 3;
	}
	@media (max-width: $tablet) {
		columns: 2;
	}
	@media (max-width: $mobile) {
		columns: 1;
	}
}

@media (max-width: $tablet) {
	main {
		padding: var(--space-sm);
		width: 100%;
	}

	.pictures-gallery {
		padding: 0;
	}
}
