---
import { SITE_TITLE } from "../consts";
import HamburgerButton from "./HamburgerButton.astro";
import LanguagePicker from "./LanguagePicker.astro";
import Nav from "./Nav.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<script>
    import { SITE_TITLE } from "../consts";

    const heroAnimationSessionStorageKey = "userSawHomeHeroAnimation";
    const siteTitleElement = document.getElementById("site-title");

    const userSawAnimation = sessionStorage.getItem(heroAnimationSessionStorageKey);

    // function animateTitle() {
    //     if (!siteTitleElement) return;

    //     const delay = 50;
    //     let totalDelay = 0;
    //     const luzBin = "01101100 01110101 01111010";

    //     for (let i = 0; i < luzBin.length; i++) {
    //         setTimeout(() => {
    //             siteTitleElement.textContent += luzBin[i];
    //         }, totalDelay + delay);
    //         totalDelay += delay;
    //     }
    //     setTimeout(
    //         () => {
    //             siteTitleElement.textContent = SITE_TITLE;
    //         },
    //         (totalDelay += 500)
    //     );
    // }

    // animateTitle();

    sessionStorage.setItem(heroAnimationSessionStorageKey, "true");
</script>

<header>
    <div class="first-row">
        <div>
            <LanguagePicker />
        </div>
        <h2 id="site-title"></h2>
        <div>
            <ThemeIcon />
            <HamburgerButton />
        </div>
    </div>
    <Nav />
</header>

<style lang="scss">
    @import "../styles/variables.scss";

    header {
        padding: var(--space-md);
    }

    .first-row {
        display: flex;
        justify-content: space-between;
    }

    .first-row > * {
        align-items: center;
        flex: 1;
        display: flex;
    }

    .first-row h2 {
        margin: 0;
        justify-content: center;
    }

    .first-row div:nth-of-type(2) {
        justify-content: end;
    }

    @media (max-width: $mobile) {
        header {
            background-color: var(--body);
            padding: var(--space-md) 0;
        }

        .first-row {
            padding: 0 var(--space-md);
        }

        .first-row h2 {
            justify-content: start;
        }
        .first-row div:first-child {
            display: none;
        }
    }
</style>
