---
import { languages } from "../i18n/ui";
import { getLangFromUrl, getRouteFromUrl, useTranslatedPath } from "../i18n/utils";

const route = getRouteFromUrl(Astro.url);
const currentLang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(currentLang);
---

<ul class="no-style-list">
    {
        Object.entries(languages).map(([lang, label]) => (
            <li>
                <span class="mobile">{lang === "es" ? "🇪🇸" : "🇬🇧"}</span>
                <a
                    class:list={{ active: lang === currentLang }}
                    href={translatePath(`/${route ? route : ""}`, lang)}
                >
                    <span class="laptop">{label}</span>
                    <span class="mobile">{lang}</span>
                </a>
            </li>
        ))
    }
</ul>

<style lang="scss">
    @import "../styles/variables.scss";

    ul {
        display: flex;
        gap: 16px;
    }

    a.active {
        font-weight: bolder;
    }

    @media (max-width: $mobile) {
        ul {
            gap: 32px;
            justify-content: center;
            margin-top: 32px;
        }
    }
</style>
