---
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
import { getLangFromUrl } from "../i18n/utils";

const pictures: CollectionEntry<"pictures">[] = await getCollection("pictures");
const lang = getLangFromUrl(Astro.url);
---

<ul class="pictures-gallery no-style-list">
    {
        pictures
            .sort(
                (p1, p2) =>
                    new Date(p2.data.pubDate).getTime() - new Date(p1.data.pubDate).getTime()
            )
            .map(picture => (
                <li class="img-container">
                    <Image
                        src={picture.data.image}
                        alt={picture.data[lang].title}
                        title={picture.data[lang].title}
                        format="avif"
                        width={720}
                        quality="mid"
                    />
                    <p class="pic-description">{picture.data[lang].title}</p>
                </li>
            ))
    }
</ul>

<style lang="scss">
    @import "../styles/variables.scss";

    img {
        width: 100%;
    }

    .img-container {
        margin: var(--space-lg) 0;
    }

    .pic-description {
        display: none;

        @media (max-width: $mobile) {
            display: block;
        }
    }
</style>
