<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="The personal web page of Luz Ojeda, a web developer and biologist from Buenos Aires, Argentina">
    <title>
      {{ site.title }}
      {% if page.title %}
        {% if page.sidebar_link %}
        &#32-&#32{% t page.title %}
        {% else %}
        &#32-&#32 {{ page.title }}
        {% endif %}
      {% endif %}
    </title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/svg" href="/assets/svg/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>
  <body>
    <aside id="sidebar-desktop" class="sidebar">
      {% include sidebar.html %}
    </aside>
    <aside id="sidebar-mobile" class="sidebar">
      {% include sidebar.html %}
    </aside>
    <main>{{ content }}</main>
    <footer>
      <button id="hamburger-menu">{% include svg/hamburger-menu.svg %}</button>
    </footer>
    <script src="{{ site.baseurl }}/scripts/toggleSidebarVisibility.js"></script>
  </body>
</html>
